@using Base.Resources.WebApp
@model IEnumerable<BLL.App.DTO.Transport>

@{
    ViewData["Title"] = Resources.BLL.App.DTO.Transport._Transports;
}

<h1>@Resources.BLL.App.DTO.Transport._Transports</h1>

<p>
    <a asp-action="Create">@WebAppUiCommon.CreateNew</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TransportStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PickUpTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstimatedDeliveryTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveredTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PickUpLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransportNeed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransportOffer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TransportStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PickUpTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstimatedDeliveryTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveredTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PickUpLocation!.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransportNeed!.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransportOffer!.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">@WebAppUiCommon.Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">@WebAppUiCommon.Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">@WebAppUiCommon.Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
