@using Extensions.Base
@using Base.Resources.WebApp
@model IEnumerable<BLL.App.DTO.TransportOffer>

@{
    ViewData["Title"] = Resources.BLL.App.DTO.TransportOffer._TransportOffers;
}

<h1> @Resources.BLL.App.DTO.TransportOffer._TransportOffers</h1>

@if (User.Identity?.IsAuthenticated ?? false)
{
    <p>
        <a asp-action="Create">@WebAppUiCommon.CreateNew</a>
    </p>
}
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TransportOfferInfo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransportType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AvailableLoadCapacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FreeSeats)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransportMeta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vehicle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trailer)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TransportOfferInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransportType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailableLoadCapacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FreeSeats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransportMeta!.StartToDest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vehicle!.Make)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trailer!.RegNr)
            </td>
            <td>
                @if ((User.Identity?.IsAuthenticated ?? false) && User.GetUserId()!.Value == item.AppUserId)
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">@WebAppUiCommon.Edit</a>
                    @Html.Raw("|")
                    <a asp-action="Details" asp-route-id="@item.Id">@WebAppUiCommon.Details</a>
                    @Html.Raw("|")
                    <a asp-action="Delete" asp-route-id="@item.Id">@WebAppUiCommon.Delete</a>
                }
                else
                {
                    <a asp-action="Details" asp-route-id="@item.Id">@WebAppUiCommon.Details</a>
                }
            </td>
        </tr>
    }
    </tbody>
</table>