@using Base.Resources.WebApp
@model WebApp.ViewModels.TransportOffers.TransportOfferVehicleViewModel

@{
    ViewData["Title"] = Resources.TransportOffers.SelectVehicleForYourOffer;
}

<h1>@Resources.TransportOffers.SelectVehicleForYourOffer</h1>

@if (Model.HasPreviusVehicles && Model.UsePreviousVehicle)
{
    <h4>@Resources.TransportOffers.SelectFromSaved</h4>
    <div class="row p-3">
        <h4 class="text-info mr-3">@Resources.Views.Shared._Layout.Or</h4>
        <a asp-route-useprev="false" asp-route-transportNeedId="@Model.TransportNeedId">
            <input type="button" value="@Resources.Vehicles.AddNewVehicle" class="btn btn-secondary"/>
        </a>
    </div>
    <div class="row mt-5">
        <div class="col-12 col-md-4">


            <form method="GET" asp-route-vehicleid="@Model.VehicleId" asp-route-transportNeedId="@Model.TransportNeedId" asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="TransportNeedId">
                <div class="form-group">
                    <label asp-for="VehicleId" class="control-label">@Resources.BLL.App.DTO.Vehicle._Vehicle</label>
                    <select asp-for="VehicleId" class="form-control" asp-items="Model.VehicleSelectList">
                        <option value="">-- @WebAppUiCommon.PleaseSelect --</option>
                    </select>
                    <span asp-validation-for="VehicleId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="@Resources.Views.Shared._Layout.SaveContinue" class="btn btn-primary"/>
                </div>
            </form>


        </div>
    </div>
}

@if (!Model.UsePreviousVehicle)
{
    <h4>@Resources.TransportOffers.SaveVehicleForTransportOffer</h4>


    if (Model.HasPreviusVehicles)
    {
        <div class="row p-3">
            <h4 class="text-info mr-3">@Resources.Views.Shared._Layout.Or</h4>
            <a asp-route-useprev="true" asp-route-transportNeedId="@Model.TransportNeedId">
                <input type="button" value="@Resources.Vehicles.UseExistingVehicle" class="btn btn-secondary"/>
            </a>
        </div>
    }
    <hr/>
    <div class="row mt-5">
        <div class="col-md-4">
            <form asp-action="VehicleForTransportOffer">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="TransportNeedId">
                <partial name="_VehicleCreateEdit" for="VehicleVm"/>

                <div class="form-group">
                    <input type="submit" value="@Resources.Views.Shared._Layout.SaveContinue" class="btn btn-primary"/>
                </div>
            </form>
        </div>
    </div>
}

<div>
    <a asp-action="Index">@WebAppUiCommon.BackToList</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

